<h3>Products</h3>

<div class="container">
  <div class="row">
    <div class="md-col-5">Form
        <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control"  placeholder="Enter Name" id="name" [(ngModel)]="product.name" name="name" >
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control"  placeholder="Enter Description" id="description"  [(ngModel)]="product.description" name="description">
              </div>
              <div class="form-group">
                  <label for="price">Price</label>
                  <input type="text" class="form-control"  placeholder="Enter Price" id="price"  [(ngModel)]="product.price"  name="price">
                </div>
                  <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="isAvailable"  [(ngModel)]="product.isAvailable" value="true"  name="isAvailable">
              <label class="form-check-label" for="isAvailable">Available?</label>
            </div>
            <button type="button" class="btn btn-primary" (click)="onSave()">Submit</button>
          </form>
          <div class="alert alert-success" *ngIf="showMessage">
            New product saved successfully
          </div>
    </div>
    <div class="md-col-7">
        <div class="card" *ngFor="let product of products">
            <div class="card-header">
              {{ product.name | uppercase }}
            </div>
            <div class="card-body">
              <h5 class="card-title"
                [ngStyle]="{ 'color': product.isAvailable ? 'blue' : 'red' }">
                {{ product.description }}
              </h5>
              <p class="card-text">{{ product.price | currency : 'INR' }}</p>
              <p class="card-text">Available? <span class="badge"
                [ngClass]="{ 'badge-success': product.isAvailable, 'badge-danger': !product.isAvailable }">{{ product.isAvailable ? 'Yes' : 'No' }}</span></p>
              <p class="card-text">Available? <span class="badge"
                [ngClass]="product.isAvailable ? 'badge-success' :'badge-danger'">{{ product.isAvailable ? 'Yes' : 'No' }}</span></p>
            </div>
        </div>

      </div>
  </div>
</div>
